
<div data-role="page" id="home">
  <div data-role="header" data-position="fixed">

    <h5></h5>
  </div>
  <div class="ui-content" role="main">

    <label for="">¿Que estas pensando?</label>
    <textarea name="msj" rows="8" cols="80"></textarea>


    <input type="button" name="Publicar" value="Publicar">
  </div>

</div>
